PORT=5000
NODE_ENV=development

# URL koneksi database MySQL lokal (sesuaikan user, password, port, dan nama database)
DATABASE_URL="mysql://root:@localhost:3306/struktur_apps"

# Konfigurasi JWT Token
JWT_SECRET="gaspolsuksesfullstackfreelancer2026"
JWT_EXPIRES_IN="1d"
JWT_REFRESH_SECRET="gaspolsuksesrefreshsecret2026"
JWT_REFRESH_EXPIRES_IN="7d"

# Konfigurasi Storage (local / cloudinary)
APP_URL="http://localhost:5000"
STORAGE_PROVIDER="local"

# Jika STORAGE_PROVIDER=cloudinary, isi di bawah ini
CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""
